<div id="chart" phx-update="ignore" phx-hook="RenderChart">
  <%= habit_to_chart(@chart_data) %>
</div>
<div>
  <div>
    <table>
      <tr>
        <th><%= @habit %></th>
        <th>Value</th>
      </tr>
      <tr :for={option <- @options}>
        <td><%= option %></td>
        <td><%= length(@options) - Enum.find_index(@options, &(&1 == option)) %></td>
      </tr>
    </table>
  </div>
</div>
